app/.output/
app/.data/
app/.nuxt/
app/.nitro/
app/.cache/
app/dist/

app/node_modules/

logs/
*.log
app/logs/
devbox/*.log

devbox/*.tar
devbox/pg_data_*/
devbox/env/.env*
devbox/secrets/

.DS_Store
.fleet/
.idea/
.vscode/

.env
.env.*
!.env.example
